html,
body,
header,
#intro {
  height: 100%;
}

#page-intro {
  height: 45%;
}

#intro, #page-intro {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 400px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

.main-title1 {
  font-family: "Bebas Neue";
  font-size: 60px;
}

.main-title2 {
  font-family: "Bebas Neue";
  margin-top: -50px !important; 
  font-size: 130px;
}

.page-title {
  font-family: "Bebas Neue";
  font-size: 90px;
}

.page-footer {
  background: #2A4660;
  color: white;
}

.footer-copyright {
  background: #006CFF;
}

.social-vertical-home {
  margin-top: -40px !important;
  left: 5px;
}

.social-vertical-page {
  margin-top: 5px !important;
  left: 5px;
}

.home-title-description