html,
body,
header,
#intro {
  height: 100%;
}

#page-intro {
  height: 450px;  
}

#intro #page-intro {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 400px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

.main-title1 {
  font-family: "Bebas Neue";
  font-size: 60px;
}

.main-title2 {
  font-family: "Bebas Neue";
  margin-top: -50px !important; 
  font-size: 130px;
}

.page-title {
  font-family: "Bebas Neue";
  font-size: 90px;
  margin-top: 200px;
  margin-left: 10%;
}

.page-footer {
  background: #2A4660;
  color: white;
}

.footer-copyright {
  background: #006CFF;
}

#categorias{
  background-color: #9BD6CE; 
  text-align:center;
  vertical-align: center;
  height: 45px;
  margin-top: -2.3% !important;
}

#categorias a {
  color: #2A4660;
  font-family: 'Bebas Neue';
  font: bolder;
}

#etiquetas a {
  color: #2A4660;
  font-family: 'Bebas Neue';
  font: bolder;
}

.social-vertical-home {
  top: -10% !important;
  left: 5px;
}

.social-vertical-page {
  position: absolute;
  margin-top: 50px !important;
  left: 5px;
}
